#root{
  background-color: #252525;
  min-height: 100vh;
  scrollbar-color: #252525;
}

.bgBookin{
  background-color: #06442b;
}

.navColor{
  background-color: #0E955D;
}

.btn-login2{
  background-color: #0B7149;
  border: #0E955D;
  color: #ABEFC9;
}
.btn-login2:hover{
  background-color: #ABEFC9;
  border: #0E955D;
  color: #0B7149;
}
.btn-login2:active{
  background-color: #0B7149;
  border: #0E955D;
  color: #ABEFC9;
}

.btnBookin{
  background-color: #ABEFC9;
  border: #0E955D;
  color: #0B7149;
}

.btnBookin:hover{
  background-color: #fcfcfc;
  border: 2px solid #0E955D;
  color: #0B7149;
}

.btn-login1{
  background-color: #ABEFC9;
  border: #0E955D;
  color: #0B7149;
}

.btn-login1:hover{
  background-color: #0B7149;
  border: 2px solid #0E955D;
  color: #ABEFC9;
}

.btn-login1:active{
  background-color: #ABEFC9;
  border: #0E955D;
  color: #0B7149;
}

.btn-home{
  background-color: #ffffff;
  border: 1px solid #0E955D;
  color: #0B7149;
}

.btn-home:hover{
  background-color: #0B7149;
  border: 2px solid #0E955D;
  color: #ffffff;
}

.copyRight{
  font-size: smaller;
}

.faceHome{
  background: #ABEFC9;
  border-radius: 20px;
  border: 5px solid #0B7149;
}

.cont-carrousel{
  background: #EDFCF3;
  border-radius: 20px;
  border: 5px solid #0B7149
}

.transparent{
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.transparent:hover{
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.transparent:focus-visible{
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.error{
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.errorTitle{
  font-size: 8rem;
}

.navItem:active {
  background-color:#252525;
}